body{
    text-align: center;
    font-family: Arial;
    margin-top: 80px;
    background-image: url("expense.jpg");
   background-size: cover;
   background-repeat: no-repeat;
}

h1{
    color: rgb(2, 2, 2);
    font-size: 40px;
    margin-bottom: 30px;
    font-family: cursive;
}

input{
    padding: 12px;
    width: 220px;
    border: none;
    border-radius: 10px;
    font-size: 16px;
    margin: 10px;
    outline: none;
}

button{
    padding: 12px 20px;
    border: none;
    border-radius: 10px;
    background-color: #2c3e50;
    color: white;
    font-size: 16px;
    cursor: pointer;
}

button:hover{
    background-color: #34495e;
}

#expense-list{
    margin-top: 30px;
}

.expense-card{
    width: 300px;
    margin: 10px auto;
    padding: 15px;
    border-radius: 15px;
    background: rgb(240, 217, 6);
    box-shadow: 0px 4px 10px gray;
    font-size: 18px;
}

#total{
    margin-top: 25px;
    font-size: 24px;
    font-weight: bold;
    color: rgb(12, 12, 12);
}